@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Poppins&display=swap');

.topnav {
    background-color: rgb(7, 42, 91);
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #c14b07;
    color: white;
  }

body {
    background-color: #93CDFB ;
    font-family: 'Maven Pro', sans-serif;
}

h4 {
    margin: 30px;
}

h1 {
    text-align: left;
    margin: 50px;
}


img {
    width: 400px;
    float: right;
    border-radius: 50%;
    margin-left: 100px;
}

p {
    margin-left: 100px;
}

.heyClass {
    color: red;
}


section{
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    height: 60vh;
    color:white;
    margin: 100px;
    
}

